# Extract from TMDB with API

In [1]:
import time
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup
import csv
import math

Extraction des films

In [3]:
url_base = "https://api.themoviedb.org/3/discover/movie?include_adult=true&include_video=false&language=fr-FR&page=1&sort_by=popularity.desc"
api_token = ""

headers = {
    "accept": "application/json",
    "Authorization": f"Bearer {api_token}"
}

params = {
    'language': 'fr-FR'
}

movies = []

page = 1

max_pages = 1000

while page <= max_pages:
    params['page'] = page
    response = requests.get(url_base, headers=headers, params=params)

    if response.status_code == 200:
        data = response.json()
        for movie in data['results']:
            movies.append([
                movie.get('id', math.nan),
                movie.get('title', math.nan),
                movie.get('release_date', math.nan),
                movie.get('genre_ids', math.nan),
                movie.get('vote_average', math.nan),
                movie.get('popularity', math.nan),
                movie.get('overview', math.nan),
                movie.get('poster_path', math.nan)
            ])
        
        if page >= data['total_pages']:
            break
        
        page += 1
        
    else:
        print(f"Erreur lors de la récupération de la page {page}: Status code {response.status_code}")
        break

print(f"Total de films récupérés: {len(movies)}")

Erreur lors de la récupération de la page 501: Status code 422
Total de films récupérés: 10000

In [28]:
df = pd.DataFrame(movies)

In [18]:
df2 = pd.DataFrame(movies)

Extraction des genres

In [6]:
url = "https://api.themoviedb.org/3/genre/movie/list?language=fr"

headers = {
    "accept": "application/json",
    "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJiYTlmNjgyOTkwY2UzNWMxNTBjNTk2OGJiNTczNzcwNCIsInN1YiI6IjY1NDRiNDFhOWNjNjdiMDExY2VlNTM2NSIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.tq4hPW5WwzhINvXJSQPHAUfhoAY74CaZt8BaqyTQ8PY"
}

response = requests.get(url, headers=headers)

if response.status_code == 200:
    genres_data = response.json()
    genres_list = genres_data['genres']
    
    df_genres = pd.DataFrame(genres_list)
    
    print(df_genres)
else:
    print(f"Erreur dans la requête API: {response.status_code}")

       id             name
0      28           Action
1      12         Aventure
2      16        Animation
3      35          Comédie
4      80            Crime
5      99     Documentaire
6      18            Drame
7   10751         Familial
8      14      Fantastique
9      36         Histoire
10     27          Horreur
11  10402          Musique
12   9648          Mystère
13  10749          Romance
14    878  Science-Fiction
15  10770         Téléfilm
16     53         Thriller
17  10752           Guerre
18     37          Western

Remplacement des genres int par str

In [16]:
genre_dict = pd.Series(df_genres.name.values, index=df_genres.id).to_dict()

In [29]:
def replace_ids_with_names(id_list, genre_dict):
    return [genre_dict.get(i) for i in id_list]

df['genre'] = df[3].apply(lambda x: replace_ids_with_names(x, genre_dict))

In [31]:
df.drop(columns=3, inplace=True)

In [33]:
columns = 'ID', 'Titre', 'Date de sortie', 'Note', 'Popularité', 'Synopsis', 'Affiche', 'Genre'

df.columns = columns

In [35]:
df = df[['ID', 'Titre', 'Date de sortie', 'Genre', 'Note', 'Popularité', 'Synopsis', 'Affiche']]

In [36]:
df['Genre'] = df['Genre'].apply(lambda x: ', '.join(map(str, x)))

In [37]:
df.head(5)

,ID,Titre,Date de sortie,Genre,Note,Popularité,Synopsis,Affiche
0,1075794,Leo,2023-11-17,"Animation, Comédie, Familial",7.7,1828.905,"Leo, un lézard blasé de 74 ans, vit dans une s...",/pD6sL4vntUOXHmuvJPPZAgvyfd9.jpg
1,872585,Oppenheimer,2023-07-19,"Drame, Histoire",8.2,1142.284,"En 1942, convaincus que l'Allemagne nazie est ...",/boAUuJBeID7VNp4L7LNMQs8mfQS.jpg
2,901362,Les Trolls 3,2023-10-12,"Animation, Familial, Musique, Fantastique, Com...",7.2,1121.642,Après deux films à se tourner autour pour fina...,/r5uiTUeqoERL66fNgtPVbTViHml.jpg
3,507089,Five Nights at Freddy's,2023-10-25,"Horreur, Mystère",7.9,779.775,"Mike, jeune homme perturbé, s’occupe de sa sœu...",/tEY81I7lpiHaLJa7AZ3O4vWXmJo.jpg
4,670292,The Creator,2023-09-27,"Science-Fiction, Action, Thriller",7.1,774.741,Alors qu'une future guerre entre la race humai...,/pP1cyoXFc5Br1Sg21uORSN49yyu.jpg

In [41]:
df.to_csv(r"C:\Users\derou\OneDrive\Bureau\DATA\PORTFOLIO\Recommandation de films\CSV\df_movies.csv")